<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Link Shortener</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<header>
    <h1>Link Shortener</h1>
</header>
<main>
    <form id="shortForm" action="links/short" method="post">
        <label for="link">Enter a link:</label>
        <input type="text" name="link" id="link" required>
        <button type="submit">Shorten</button>
    </form>
    <ul id="links"></ul>
    <ul id="shortened-links">
        <% for (var i = 0; i < links.length; i++) { %>
        <li><%= links[i].short %></li>
        <% } %>
    </ul>
</main>
<script src="./js/script.js"></script>
</body>
</html>